%span.chatspace__right__bottom__message__username
  = message.user.name
%span.chatspace__right__bottom__message__date
  = message_time(message)
%p.chatspace__right__bottom__message__body
  = message.body
