= link_to group_messages_path(group) do
  .chatspace__left__bottom
    %p.chatspace__left__bottom__group
    = group.name
    -# = link_to "#{group.name}", group_messages_path(group.id)
    %p.chatspace__left__bottom__message sampleだよー1
