html, body {
  height: 100%;
}

.chatspace {
  height: $height_max;
  &__left {
    float :left;
    background-color: #2f3e51;
    height: $height_max;
    width: 300px;
    &__top {
      padding: 0px 0px 0px 20px;
      height:100px;
      background-color: #253141;
      position: relative;
      &__character {
        height: 20px;
        padding: 35px 0px 0px 0px;
        font-size: 16px;
        color: $left_character_color;
        width: 150px;
        font-weight: bold;
      }
      &__awesomebox {
        height: 20px;
        width: 50px;
        position: absolute;
        top: 35px;
        right: 20px;
        .fa.fa-pencil-square-o {
          font-size: 20px;
          float: left;
          color: white;
        }
        .fa.fa-cog {
          font-size: 20px;
          float: right;
          color: white;
        }
      }
    }
    &__bottom {
      color: white;
      &__group {
        &:hover {
          background-color: #394b63;
        }
        &__name {
          font-size: 15px;
          color: $left_character_color;
          padding: 20px 0px 0px 20px;
        }
        &__message {
          font-size: 11px;
          color: $left_character_color;
          padding: 5px 0px 0px 20px;
        }
      }
    }
  }
  &__right {
    float: right;
    height: $height_max;
    width: calc(100% - 300px);
    background-color: #f8f8f8;
    &__top {
      height: 100px;
      background-color: white;
      border-bottom: 1px solid #eeeeee;
      &__left {
        font-size: 20px;
        color: #333333;
        padding: 35px 0px 0px 40px;
        width: 300px;
        float: left;
        &__top1character {

        }
        &__member {
          font-size: 12px;
          color: #999999;
          padding: 8px 0px 0px 0px;
        }
      }
      &__right {
        &__edit {
          height: 40px;
          width: 80px;
          margin: 28px 40px 0px 0px;
          float: right;
            &__hole {
            color: #0099e3;
            border: 1px solid #0099e3;
            text-align: center;
            height: 32px;
            padding: 8px 0px 0px 0px;
            &__member {
              float: left;
              font-size: 12px;
              color: #999999;
            }
          }
        }
      }
    }

    &__bottom {
      height: calc(100% - 190px);
      overflow-y: scroll;
      &__message {
        margin-top: 40px;
        &__username {
          font-size: 16px;
          font-weight: bold;
          padding: 40px 0px 0px 40px;
        }
        &__date {
          font-size: 12px;
          color: #999999;
        }
        &__body {
          font-size: 14px;
          padding: 10px 0px 0px 40px;
        }
      }
      &__mostbox {
        position: fixed;
        bottom: 0;
        height: 90px;
        width: calc(100% - 300px);
        background-color: #9e9e9e;
        &__messagebox {
          width: 790px;
          height: 50px;
          background-color: white;
          margin: 20px 15px 0px 40px;
          float: left;
          .fa.fa-file-picture-o {
            float: right;
            margin: 15px 10px 0px 0px;
            cursor:pointer;
          }
          #file-input {
            display: none;
          }
          &__type {
            margin: 12px 0px 0px 10px;
            font-size: 16px;
            color: #a5a5a5;
            #message_body {
              border:none;
              outline:none;
              width: auto
            }
          }
        }
        &__sendbox {
          height: 50px;
          width: 85px;
          margin: 20px 40px 0px 10px;
          background-color: #38AEF0;
          text-align: center;
          float: right;
          &__sendbutton {
            padding: 13px;
            color: white;
          }
        }
      }
    }
  }
}
