%span.chatspace__right__bottom__message__username
  = message.user.name
%span.chatspace__right__bottom__message__date
  = message.user.created_at.strftime("%Y/%m/%d %H:%M:%S")
%p.chatspace__right__bottom__message__body
  = message.body
